[defaults]
callback_whitelist=cgroup_perf_recap
inventory = inventory
remote_user = ansible
host_key_checking = false
#callback_whitelist=timer,profile_tasks
no_log = False
gathering = false

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
pipeline = True

[privilege_escalation]
become = True
#become_method = sudo
#become_user = root
#become_ask_pass = False

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml
# BEGIN ANSIBLE MANAGED BLOCK
[callback_cgroup_perf_recap]
control_group=ansible_profile
# END ANSIBLE MANAGED BLOCK
